# Introdução a Lógica de Programação

Vamos trabalhar aqui alguns conceitos introdutório de programação.

O R é uma linguagem de programação e, como tal, requer comandos para funcionar. Estes devem ser escritos de forma que faça sentido para o computador compreender e entender o procedimento a ser adotado.
A garantia que o comando ou a sentença está descrita de forma clara é por meio da lógica. 
Lógica nada mais é do que um organização racional do pensamento, ou de uma proposição,de forma que ela não se contradiga.

Exemplos :
* Todo mamífero é um animal
  Todo cavalo é mamífero.
  Portanto, todo cavalo é um animal
  
* Tabela verdade:
[inserir imagem da tabela verdade]


A lógica é importante para que o programa entenda exatamente o que o programador quer executar. Contruímos, então, **Algoritmos**.

### Algoritmos

[Como fazer um sanduíche de pasta de amendoim](https://www.youtube.com/watch?v=pdhqwbUWf4U)

Algoritmos são como uma receita de bolo, um passo-a-passo do que se deve fazer. Segundo Forbellone e Eberspacher (2005, p.15), "o principal objetivo da Lógica de programação é a construção de algoritmos coerentes e válidos. (...) Um *algoritmo* pode ser definido como uma sequência de passos que visam atingir um objetivo definito". Ou seja, é um manual descritivo, um conjunto de instruções do caminho a ser percorrido pelo programa para atingir a finalidade desejada. 

Programas são algoritmos escritos em uma linguagem de programação, como o R.

#### Pseudocódigo

O pseudocódigo é uma forma de expressar um algoritmo independente da linguagem de programação a ser utilizada. É um momento anterior, uma forma de observar melhor o que se pretende fazer.

![](pseu1.jpg)

#### Constantes e Variáveis 

Constantes: valores fixos, não se alteram

Variáveis: conjuntos de dados que, durante a reprodução do programa, se alternam.

* exemplos de tipos:
  + real
    + 0, 1, 2
  + caracter
    + "nome", "90"
  + lógico
    + TRUE, FALSE


#### Operadores

* Aritméticos
  soma, subtração, multiplicação e divisão

* Relacionais
  maior que, menor que, maior igual, menor igual

* Lógicos
  AND, OR, NOT

#### Estruturas de controle

Estruturas que controlam o fluxo do algoritmo.

* Decisão
  + Se, senão
    If, ifelse
*Repetição
  + for
  
  
  
  


# R Básico - Primeiros passos

## Breve introdução ao R e ao RStudio

O R é uma linguagem de programação criada em 1993 por **R**oss Ihaka e **R**obert Gentleman, baseada numa linguagem anterior, a **S**, que tem como foco a análise estatística e a exploração de dados, o que hoje chamamos de ciência de dados.

Por ser uma linguagem de programação em código aberto, com milhares de  voluntários que diariamente contribuem para a comunidade e as suas aplicações, a linguagem R, tal como o Python, é amplamente utilizada, limitando-se apenas à capacidade de programação do programador. É possível escrever teses, desenvolver sites, criar imagens e desenvolver objetos em 3D.

O **R**, como dito, é uma linguagem **de alto nível**. Precisamos instalá-la para podermos redigir códigos e executar rotinas de scripts. Todavia, o R enquanto programa não é muito aprazível, se considerarmos aquela visualização original dele, que lembra um pouco um DOS ou um terminal. Aquilo é um console, onde cada código digitado é executado instantaneamente. O **RStudio** foi criado por J.J. Allaire em 2009 e funciona como uma IDE, ou *Integrated Development Environment*, Ambiente de Desenvolvimento Integrado. É uma visualização mais bonita do próprio R, com console, scripts, bases de dados, arquivos e gráficos, reunidos em uma mesma tela, facilitando assim a utilização. Esse é o aplicativo que será aberto sempre, nunca o R, e sim o RStudio.

## Funções e Objetos

Toda linguagem de programação possui duas dimensões essenciais ao funcionamento: objetos e funções.

Objeto é tudo aquilo que existe (bases de dados, vetores, tabelas)
Função é tudo aquilo que acontece (estruturas que executam uma função interna, ou seja, possuem uma entrada e uma saída)
Entradas e saídas são conceitos importantes que precisam ser explicados, também. As entradas, ou inputs, são geralmente objetos que passarão por alguma transformação dentro da função e sairão mudados, sendo essa a saída, ou output.

O esquema seria:

$$Objeto_a \to Função_x \to Objeto_b$$

Toda função tem uma saída, mas nem toda função possui uma entrada (ou melhor, tem, mas ela é implícita). Veremos isso ao longo do curso.

Executem o seguinte código, fazendo as devidas alterações:

In [ ]:
nome <- "Mateus"
cumprimento <- "Olá"

Dois objetos foram criados: um cujo nome é nome e outro cujo nome é cumprimento. Elas tem os respectivos valores de “Matheus” e “Olá”. Como são palavras, estão entre aspas, e isso é extremamente importante, como veremos logo a seguir.

## Pacotes

Pacotes são “bibliotecas” de funções. Quando instalamos um pacote novo, seria como se comprássemos livros, somando conhecimentos (novas funções) ao que temos. Como foi solicitado no email enviado antes, vocês instalaram alguns pacotes: electionsBR, Tidyverse, janitor e outros, que veremos ao longo do curso. Recapitulando, para instalar um pacote, utilizamos a seguinte estrutura:

`install.packages("NOME_DO_PACOTE")`

Abaixo, o exemplo do código para instalarmos um pacote chamado “rio”, que permite importar e exportar bases de dados de todos os formatos possíveis: SPSS, Stata, Excel, CSV, JSON, ODS, etc:

In [ ]:
install.packages("rio")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘openxlsx’

Importante perceber o seguinte: o nome do pacote sempre vem entre aspas. No R, se algo está entre aspas, é porque ou é uma palavra (ou seja, não é um objeto) ou é algo externo a ele (um site, ou um pacote que ainda não temos).

Para carregar um pacote, a função se dá por `library(NOME_DO_PACOTE)`. Sem aspas, pois já o temos instalado! Só podemos carregar se ele já estiver instalado. Logo, instalamos uma vez e carregamos TODA vez que formos utilizá-lo. Isso seria equivalente, retornando à analogia do “comprar um livro”, a abrir o livro para, enfim, lê-lo.

O pacote `rio`, como suporta muitos formatos de arquivo. Para instalar esses formatos (o rio só serve como um atalho), é preciso rodar a função `install_formats()`. Ela só precisa rodar uma vez, e depois nunca mais. Isso instalará os pacotes dos formatos externos (como ODS). Provavelmente, antes de rodá-lo, aparecerá um erro que ao final afirma: Use *‘install_formats()’ to install them.* Eis um exemplo de função que não possui entrada dada pelo usuário, apenas saída. A entrada está implícita em sua criação pelo desenvolvedor.

In [ ]:
library(rio)
# install_formats()

# Ainda sobre funções

Como percebemos, as entradas ficam dentro dos parênteses e as saídas aparecem dentro no terminal/console/output. 
Se formos rodar os objetos, bastará digitar o nome do objeto, que o valor será apresentado no console/output:

In [ ]:
cumprimento
nome

[1] "Olá"

[1] "Mateus"

Podemos usar uma função chamada `paste()` para "colar" esses dois objetos, já que eles são palavras, e formar uma frase só. Esse seria um exemplo de função com entradas:

In [ ]:
paste(cumprimento, ",", nome, "Pestana!")

[1] "Olá , Mateus Pestana!"

## Pedindo ajuda

Uma forma de pedir ajuda é usando o Google, o StackOverflow e outros sites. Lá, diversas pessoas já se depararam com o mesmo problema que você passará.

Uma forma de você pedir ajuda também é pelo próprio R, através da sua decumentação. Para isso, basta digitar um ponto de interrogação antes de uma função, que a documentação abrirá. Se quiséssemos ler a documentação da função `paste()` faríamos `?paste()`.


## R como calculadora

Como dito inicialmente, o R é muito usado para cálculos estatísticos. Basicamente, é uma calculadora poderosa. Toda e qualquer manipulação numérica pode ser feita no R:

In [ ]:
2 + 2

5 * 10

8 / 2

-5 - 2

log(3)

exp(2)

abs(-2)

sqrt(144)

2^5

Podemos aninhar as contas, permitindo cálculos um pouquinho mais longos:

In [ ]:
sqrt(2 + 5^2 + log(5) + exp(log(5+10)))

[1] 6.603744

## Tipos de objetos 

Os objetos podem ser de diversos tipos, mas os três principais são: vetores, dataframes e listas, em ordem de complexidade.

### Vetores

Os objetos que criamos acima eram vetores com um único item. Vetores possuem uma só dimensão e de uma só classe/tipo, que pode ser integer, double, character e logical. Podemos ter um vetor com vários itens quando utilizamos a função combine, que é dada por c().

In [ ]:
muitos_itens <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 2, 1)

Qual o tipo de vetor acima?

In [ ]:
typeof(muitos_itens)

typeof(cumprimento)

[1] "double"

[1] "character"

Os tipos enquadrados como *logical* são o que chamamos de booleanos, podendo adquirir dois valores possíveis: `TRUE` ou `FALSE`, podendo ser resumido no R por `T` e `F`, respectivamente. Como são tipos próprios, não precisam de aspas.

In [ ]:
typeof(TRUE)
typeof(FALSE)
typeof(T)
typeof(F)

[1] "logical"

[1] "logical"

[1] "logical"

[1] "logical"

In [ ]:
if (condicao) {
 
  # comandos que
  # serao rodados
  # caso condicao = TRUE
 
}

## Estruturas de decisão
If else

In [ ]:
x <- 114
if (x > 10){
  print("valor atendeu a condição de ser maior que 10")
}

[1] "valor atendeu a condição de ser maior que 1"

In [ ]:
x <- 9
if (x > 10){
  print("valor atendeu a condição de ser maior que 10")
}

In [ ]:
x <- 9
if (x > 10){
  print("valor atendeu a condição de ser maior que 10")
} else {
  print("valor não atende a condição")
}

[1] "valor não atende a condição"

## Indexando

Como temos um vetor com muitos itens, podemos extrair cada item por indexação da sua posição dentro do vetor. Por exemplo:

In [ ]:
muitos_itens[1]
muitos_itens[11]
muitos_itens[-11]
muitos_itens[1:12]
1:5

vetor_confuso <- c("Oi", "Mateus", 123)

[1] 1

[1] 7

 [1] 1 2 3 4 5 6 7 8 9 8 6 5 4 3 2 1

 [1] 1 2 3 4 5 6 7 8 9 8 7 6

[1] 1 2 3 4 5

## Estrutura de repetição
 For

In [ ]:
for(i in conjunto_de_valores){
  # comandos que 
  # serão repetidos
}

In [ ]:
sequencia = seq(0,10)
for (i in sequencia) {
  print(i)
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [ ]:
sequencia = seq(0,10)
for (i in sequencia){
  if(i %% 2 == 0){
    print(paste(i,"é um número par"))
  } else {
    print(paste(i, "é um número ímpar"))
  }
}

[1] "0 é um número par"
[1] "1 é um número ímpar"
[1] "2 é um número par"
[1] "3 é um número ímpar"
[1] "4 é um número par"
[1] "5 é um número ímpar"
[1] "6 é um número par"
[1] "7 é um número ímpar"
[1] "8 é um número par"
[1] "9 é um número ímpar"
[1] "10 é um número par"

## Dataframes

Dataframes são estruturas com duas dimensões. Em resumo, linhas e colunas. Um dataframe é chamado de tidy quando cada linha dele representa um caso analisado, e cada coluna, uma variável, que adjetiva aquele caso em algum aspecto. Por exemplo, podemos ter um banco em que cada linha é um aluno com as seguintes variáveis:

- Matrícula
- Nome
- Gênero
- Idade
- Programa
- Nível
- Orientador

Para criar um dataframe no R, podemos usar a função data.frame():

In [ ]:
matricula = c(2020151, 2021220, 2022005)
nome = c("Matheus Pestana", "Luana Calzavara", "Carlos Freitas")
genero = c("M", "M", "F")
idade = c(28, 26, 28)
programa = rep("Ciência Política", 3) 
nivel = c("DO", "DO", "ME")
orientador = c(rep("Fernando Guarnieri", 2), "Fabiano Santos")

alunos <- data.frame(matricula, nome, genero, idade, programa, nivel, orientador)

alunos

  matricula nome            genero idade programa         nivel
1 2020151   Matheus Pestana M      28    Ciência Política DO
2 2021220   Luana Calzavara M      26    Ciência Política DO
3 2022005   Carlos Freitas  F      28    Ciência Política ME
  orientador
1 Fernando Guarnieri
2 Fernando Guarnieri
3 Fabiano Santos

In [ ]:
alunos[1,2]

alunos[2, ]

alunos[ ,3]

alunos$idade

[1] "Matheus Pestana"

  matricula nome            genero idade programa         nivel
2 2021220   Luana Calzavara M      26    Ciência Política DO
  orientador
2 Fernando Guarnieri

[1] "M" "M" "F"

[1] 28 26 28

## Listas

O diferencial das listas é que, se enquanto nos vetores precisamos ter na única dimensão uma mesma classe para todos os itens, e no dataframe podemos ter mistos, mas cada variável precisa ser da mesma classe, nas listas, podemos combinar as duas coisas. Uma lista possui itens em qualquer formato, sejam eles vetores, dataframes ou ambos. Podemos inserir até mesmo listas dentro de listas!

In [ ]:
lista <- list(alunos, muitos_itens, nome, cumprimento)

lista

[[1]]
  matricula            nome genero idade         programa nivel
1   2020151 Matheus Pestana      M    28 Ciência Política    DO
2   2021220 Luana Calzavara      M    26 Ciência Política    DO
3   2022005  Carlos Freitas      F    28 Ciência Política    ME
          orientador
1 Fernando Guarnieri
2 Fernando Guarnieri
3     Fabiano Santos

[[2]]
 [1] 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

[[3]]
[1] "Matheus Pestana" "Luana Calzavara" "Carlos Freitas"

[[4]]
[1] "Olá"

### Referências

Forbellone, A; Eberspacher, H. Lógica de programação: a construção de algoritmos e estruturas de dados. 3ed. São Paulo: Pretince Hall, 2005.

[Curso de lógica de programação](https://www.youtube.com/playlist?list=PLHz_AreHm4dmSj0MHol_aoNYCSGFqvfXV)

[Blog sobre R - Análise  Real](https://analisereal.com/)

[Livro "Ciência de Dados em R" - curso-R](https://livro.curso-r.com/)